
#footer {
    width: 100%;
    position: sticky;
    bottom: 0%;
}

#card1 {
    width: 20%;
}

#card2 {
    width: 60%;
}

#card3 {
    width: 20%;
}

#text-card1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

#text-card2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

#boton-link {
    margin-inline-start: 12px;
    background-color: transparent;
    color: rgb(103, 102, 102);
}