<p-menubar [model]="items" [style]="{'background-color' : 'transparent', 'margin-inline' : '40px'}">
    <ng-template pTemplate="start">
        <img src="assets/images/logonavbar.png" height="40" class="mr-2">
    </ng-template>
    <div>
        <input type="text" pInputText placeholder="Buscar" id="input-buscar">
        <button type="button" class="p-button-secondary" pButton icon="pi pi-search"></button>
        <button type="button" pButton icon="pi pi-shopping-cart" id="shop-cart-button"></button>
        <button [ngClass]="userloged ? 'user-button-logged' : 'user-button'" type="button" label="{{textLog}}" pButton icon="{{iconLog}}" (click)="userlog()" ></button>
    </div>
</p-menubar>
<p-toast position="bottom-center" key="bc"></p-toast>