<div class="card">
    <!------------------ PRIMERA FILA  ---------------->
    <div class="flex flex-wrap lg:flex-wrap card-container align-items-center justify-content-center" style="max-width: 100%">
        <!-- CARD 1 -->
        <div class="lg:inline-flex max-w-min lg:max-w-max text-center p-3 border-round">
            <p-card styleClass="p-card-shadow" [style]="{'height': '23.5rem'}">
                <ng-template pTemplate="header">
                    <div class="container">
                        <img src="https://img.g2a.com/323x433/1x1x0/adobe-acrobat-pro-2020-pc-adobe-key-global/f042145e8a584c11b61fa870"
                            alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">
                                <p id="product-title">Adobe Acrobat Pro 2020 1 Device</p>
                                <p id="product-price">$10.800 ARS</p>
                            </div>
                        </div>
                    </div>
                    <p-divider align="center">
                        <p-button label="Comprar" icon="pi pi-shopping-bag" styleClass="p-button-outlined"></p-button>
                    </p-divider>
                </ng-template>
            </p-card>
        </div>

        <!-- CARD 2 -->
        <div class="lg:inline-flex max-w-min lg:min-w-max text-center p-4 border-round">
            <p-card styleClass="p-card-shadow" [style]="{'height': '23.5rem'}">
                <ng-template pTemplate="header">
                    <div class="container">
                        <img src="https://img.g2a.com/323x433/1x1x0/microsoft-office-professional-plus-2021-pc-microsoft-key-global/202a62e65a5c456ebf44c92e"
                            alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">
                                <p id="product-title">Microsoft Office Professional Plus 2021</p>
                                <p id="product-price">$4.600 ARS</p>
                            </div>
                        </div>
                    </div>
                    <p-divider align="center">
                        <p-button label="Comprar" icon="pi pi-shopping-bag" styleClass="p-button-outlined"></p-button>
                    </p-divider>
                </ng-template>
            </p-card>
        </div>

        <!-- CARD 3 -->
        <div class="lg:inline-flex max-w-min lg:max-w-max text-center p-4 border-round">
            <p-card styleClass="p-card-shadow" [style]="{'height': '23.5rem'}">
                <ng-template pTemplate="header">
                    <div class="container">
                        <img src="https://img.g2a.com/323x433/1x1x0/need-for-speed-hot-pursuit-remastered-xbox-series-x-s-xbox-live-key-global/9076a5aa1d354953880c4bd0"
                            alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">
                                <p id="product-title">Need for Speed Hot Pursuit Remastered</p>
                                <p id="product-price">$2.700 ARS</p>
                            </div>
                        </div>
                    </div>
                    <p-divider align="center">
                        <p-button label="Comprar" icon="pi pi-shopping-bag" styleClass="p-button-outlined"></p-button>
                    </p-divider>
                </ng-template>
            </p-card>
        </div>

        <!-- CARD 4 -->
        <div class="lg:inline-flex max-w-min lg:max-w-max text-center p-4 border-round">
            <p-card styleClass="p-card-shadow" [style]="{'height': '23.5rem'}">
                <ng-template pTemplate="header">
                    <div class="container">
                        <img src="https://img.g2a.com/323x433/1x1x0/bitdefender-total-security-5-devices-1-year-bitdefender-key-global/5f1ac7347e696c60cb2fb813"
                            alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">
                                <p id="product-title">Bitdefender Total Security 5 Devices, 1 Year</p>
                                <p id="product-price">$3.200 ARS</p>
                            </div>
                        </div>
                    </div>
                    <p-divider align="center">
                        <p-button label="Comprar" icon="pi pi-shopping-bag" styleClass="p-button-outlined"></p-button>
                    </p-divider>
                </ng-template>
            </p-card>
        </div>
    </div>

    <!-- SEGUNDA FILA -->
    <div class="flex flex-wrap align-items-center justify-content-center card-container indigo-container">
        <div class="flex-1 max-w-min lg:max-w-max text-center p-4 border-round">
            <p-card styleClass="p-card-shadow" [style]="{'height': '23.5rem'}">
                <ng-template pTemplate="header">
                    <div class="container">
                        <img src="https://img.g2a.com/323x433/1x1x0/fifa-22-ultimate-edition-ps5-psn-key-europe/500ce86567d44901b0d955b1"
                            alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">
                                <p id="product-title">FIFA 22 | Ultimate Edition</p>
                                <p id="product-price">$9.450 ARS</p>
                            </div>
                        </div>
                    </div>
                    <p-divider align="center">
                        <p-button label="Comprar" icon="pi pi-shopping-bag" styleClass="p-button-outlined"></p-button>
                    </p-divider>
                </ng-template>
            </p-card>
        </div>

        <div class="flex-1 max-w-min lg:max-w-max text-center p-4 border-round">
            <p-card styleClass="p-card-shadow" [style]="{'height': '23.5rem'}">
                <ng-template pTemplate="header">
                    <div class="container">
                        <img src="https://img.g2a.com/323x433/1x1x0/apple-itunes-gift-card-north-america-50-usd-itunes/590db4dcae653a81092c8f30"
                            alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">
                                <p id="product-title">Apple iTunes Gift Card 50 USD</p>
                                <p id="product-price">$7.800 ARS</p>
                            </div>
                        </div>
                    </div>
                    <p-divider align="center">
                        <p-button label="Comprar" icon="pi pi-shopping-bag" styleClass="p-button-outlined"></p-button>
                    </p-divider>
                </ng-template>
            </p-card>
        </div>

        <div class="flex-1 max-w-min lg:max-w-max text-center p-4 border-round">
            <p-card styleClass="p-card-shadow" [style]="{'height': '23.5rem'}">
                <ng-template pTemplate="header">
                    <div class="container">
                        <img src="https://img.g2a.com/323x433/1x1x0/random-premium-5-keys-steam-key-global/30c90db94dbb4701b7c78a6f"
                            alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">
                                <p id="product-title">5 Steam Random Keys PREMIUM</p>
                                <p id="product-price">$750</p>
                            </div>
                        </div>
                    </div>
                    <p-divider align="center">
                        <p-button label="Comprar" icon="pi pi-shopping-bag" styleClass="p-button-outlined"></p-button>
                    </p-divider>
                </ng-template>
            </p-card>
        </div>

        <div class="flex-1 max-w-min lg:max-w-max text-center p-4 border-round">
            <p-card styleClass="p-card-shadow" [style]="{'height': '23.5rem'}">
                <ng-template pTemplate="header">
                    <div class="container">
                        <img src="https://img.g2a.com/323x433/1x1x0/avast-premium-security-1-pc-1-year-avast-key-global/5d8a00547e696c24e4398202"
                            alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">
                                <p id="product-title">Avast Premium Security 1 Device, 1 Year</p>
                                <p id="product-price">$600</p>
                            </div>
                        </div>
                    </div>
                    <p-divider align="center">
                        <p-button label="Comprar" icon="pi pi-shopping-bag" styleClass="p-button-outlined"></p-button>
                    </p-divider>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>