<div class="flex flex-wrap md:flex-wrap card-container justify-content-center">
    <!-- Container del Carrousel -->
    <div class="flex flex-column lg:flex-column card-container border-round" id="card1">
        <p-carousel [value]="productos" [circular]="true" orientation="horizontal" [numVisible]="1" [numScroll]="1"
            [autoplayInterval]="5000">
            <ng-template let-product pTemplate="item">
                <div class="product-item">
                    <div class="product-item-header">
                        <img src="{{product.url}}" [alt]="product.nombre" class="product-image" />
                        <h4 class="mb-1">{{product.nombre}}</h4>
                        <hr>
                    </div>
                    <div class="product-item-content">
                        <div class="flex card-container overflow-hidden">
                            <div
                                class="flex-none flex align-items-center justify-content-center font-bold text-white m-2 px-3 py-3 border-round">
                                <p style="color:rgb(78, 78, 78);">Desde ${{product.precio}} ARS</p>
                            </div>
                            <div
                                class="flex-grow-1 flex align-items-center justify-content-end font-bold text-white m-2 px-3 py-3 border-round">
                                <p-button type="button" styleClass="p-button mr-2" icon="pi pi-shopping-cart"></p-button>
                                <p-button type="button" styleClass="p-button-outlined"[style]="{'color': 'rgb(78, 78, 78)'}" icon="pi pi-arrow-right"></p-button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
    <div class="flex flex-column lg:flex-column card-container" id="card2">
        <a routerLink="/juegos" id="col-card1">
            <div class="flex justify-content-start align-items-center flex-wrap card-container" id="back-card">
                <span id="col-card1-text">Juegos</span>
            </div>
        </a>
        <div class="flex flex-row card-container" style="height: 31.5%; width: 100%;">
            <a routerLink="/software" id="col-card2">
                <div class="flex justify-content-start align-items-center flex-wrap card-container" id="back-card">
                    <span id="col-card1-text">Software</span>
                </div>
            </a>
            <a routerLink="/e-books" id="col-card3">
                <div class="flex justify-content-start align-items-center flex-wrap card-container" id="back-card">
                    <span id="col-card1-text">e-books</span>
                </div>
            </a>
        </div>
    </div>
</div>