#card1 {
    max-width: 42%;
    max-height: 680px;
}

#card2 {
    min-width: 58%;
    max-height: 680px;
    padding-left: 1em;
}

.product-item-header {
    text-align: center;
}

.product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    background-color: rgba(104, 104, 104, 0.288);
}

.product-image {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: transparent;
    max-width: 100%;
}

#col-card1 {
    width: 100%;
    height: 60%;
    background-image: url('https://cdn.cdkeys.com/media/wysiwyg/Home_Page_Slider/Elden-Ring-Out/Elden-Ring-956x528-EN.jpg');
    background-position: center center;
    background-size: cover;
    margin-bottom: 1%;
    text-decoration: none;
}

#col-card2 {
    width: 49.5%;
    height: 100%;
    background-image: url('https://static.kinguin.net/media/catalog/category/cache/1/hi_image/9df78eab33525d08d6e5fb8d27136e95/kts8.jpg');
    background-position: top center;
    background-size: cover;
    margin-right: 1%;
    text-decoration: none;
}

#col-card3 {
    width: 49.5%;
    height: 100%;
    background-image: url('https://fanatical.imgix.net/product/original/eceaa689-318d-4eb9-bf5a-e410c90702a0.jpeg?auto=compress,format&w=740&fit=crop&h=416');
    background-position: center center;
    background-size: cover;
    text-decoration: none;
}

#back-card {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    padding-left: 2em;
}

#col-card1-text {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: aliceblue;
    text-align: start;
    
}

.p-tag {
    background-color: transparent;
    font-size: 25px;
    color: rgb(128, 128, 128);
    margin: 120px;
}