<div class="flex flex-row card-container" style="margin: 60px 0px 120px 0px">
    <!-- Container del Carrousel -->
    <div class="flex align-content-center justify-content-start flex-wrap card-container border-round" id="card1">
        <p-carousel [value]="productos" [style]="{'max-width':'720px', 'max-height':'680px'}" [circular]="true"
            orientation="horizontal" [numVisible]="1" [numScroll]="1" [autoplayInterval]="5000">
            <ng-template let-product pTemplate="item">
                <div class="product-item">
                    <div class="product-item-header">
                        <img src="{{product.url}}" [alt]="product.nombre" class="product-image" />
                        <h4 class="mb-1">{{product.nombre}}</h4>
                        <hr>
                    </div>
                    <div class="product-item-content">
                        <!-- <div>
                            <div class="car-buttons mt-2">
                                <p>Desde ${{product.precio}}</p>
                                <p-button type="button" styleClass="p-button mr-2" icon="pi pi-shopping-cart">
                                </p-button>
                            </div>
                        </div> -->
                        <div class="flex card-container blue-container overflow-hidden">
                            <div class="flex-none flex align-items-center justify-content-center font-bold text-white m-2 px-5 py-3 border-round">
                                <p>Desde ${{product.precio}}</p>
                            </div>
                            <div class="flex-grow-1 flex align-items-center justify-content-end font-bold text-white m-2 px-5 py-3 border-round">
                                <p-button type="button" styleClass="p-button mr-2" icon="pi pi-shopping-cart"></p-button>
                                <p-button type="button" styleClass="p-button-outlined" [style]="{'color': 'white'}" icon="pi pi-arrow-right"></p-button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
    <div class="flex flex-column card-container" id="card2">
        <div class="flex justify-content-center align-items-center flex-wrap card-container" id="col-card1">
            <div class="flex align-items-center justify-content-start font-bold text-white border-round" id="back-card">
                <Span id="col-card1-text">Juegos</Span>
            </div>
        </div>
        <div class="flex flex-row card-container" style="height: 31.5%; width: 100%;">
            <div class="flex justify-content-center align-items-center flex-wrap card-container" id="col-card2">
                <div class="flex align-items-center justify-content-start font-bold text-white border-round"
                    id="back-card">
                    <span id="col-card1-text">Software</span>
                </div>
            </div>
            <div class="flex justify-content-center align-items-center flex-wrap card-container" id="col-card3">
                <div class="flex align-items-center justify-content-start font-bold text-white border-round"
                    id="back-card">
                    <span id="col-card1-text">e-books</span>
                </div>
            </div>
        </div>
    </div>
</div>
<p-divider align="center" type="dashed">
    <b class="p-tag">Otros Productos</b>
</p-divider>