.custom-marker {
    display: flex;
    width: 2.4rem;
    height: 2.4rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
    z-index: 1;
}

#event-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
