h2 {
   font-family: Arial, Helvetica, sans-serif;
   padding-left: 2%;
   margin: 3% 0% 3% 0%;
   color: #1976d2;
}

#h2-pc {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2%;
    margin-top: 5%;
    color: #1976d2;
}