<p-messages severity="custom"
    [style]="{'background-color': '#ffffff', 'border-radius' : '4px', 'box-shadow' : '0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.16)'}">
    <ng-template pTemplate>
        <div class="ml-6" style="height: 1.2em; font-size: 1.4em; color: #009EFF; font-weight: bolder;">Carrito de
            Compras</div>
    </ng-template>
</p-messages>
<br>
<div *ngIf="carro.length > 0">
    <div id="card1">
        <p-table [value]="carro">
            <ng-template pTemplate="body" let-list>
                <tr>
                    <td><img src="{{list.url}}" [alt]="list.nombre" width="100" class="shadow-4" /></td>
                    <td>{{list.nombre}}</td>
                    <td>{{list.precio | currency:'ARS $'}}</td>
                    <td></td>
                    <td>Cantidad: {{list.cantidad}}</td>
                    <td>
                        <button pButton pRipple type="button" icon="pi pi-plus" pTooltip="Agregar"
                            tooltipPosition="bottom" class="p-button-outlined" (click)="sum(list.nombre)">
                        </button>
                        <br>
                        <button pButton pRipple type="button" icon="pi pi-minus" pTooltip="Quitar"
                            tooltipPosition="bottom" class=" p-button-secondary p-button-text"
                            (click)="res(list.nombre, list.id)">
                        </button>
                    </td>
                    <td>
                        <button pButton pRipple type="button" icon="pi pi-times" pTooltip="Vaciar Carrito"
                            tooltipPosition="bottom" class="p-button-danger p-button-outlined"
                            (click)="eliminarProduct(list.id)">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div id="card2">
        <div class="flex flex-wrap lg:flex-wrap justify-content-between ">
            <p id="Hcarrito">Revisión del carro</p>
            <p id="Ccarrito">{{carro.length}} productos en el carro</p>
        </div>
        <hr>
        <div class="flex flex-wrap lg:flex-wrap justify-content-between">
            <div class="flex flex-column lg:flex-column mb-5" id="formCard2">
                <!-- GRID CON LOS DROPDAOWN DE LOS DATOS DE ENVIO -->
                <h5>Forma de Envio</h5>
                <div class="grid">
                    <div class="col-12 lg:col-12">
                        <p-dropdown [options]="envios" [(ngModel)]="selectedEnvio" placeholder="Selecione una opción"
                            optionLabel="opcion" [showClear]="true"></p-dropdown>
                    </div>
                </div>
                <!-- --------------------------------------------------------- -->
                <!-- GRID CON LOS INPUTS DE LOS DATOS PERSONALES -->
                <h5>Datos Personales</h5>
                <div class="grid p-fluid">
                    <div class="col-12 lg:col-6">
                        <input type="text" pInputText placeholder="Nombre">
                    </div>
                    <div class="col-12 lg:col-6">
                        <input type="text" pInputText placeholder="Apellido">
                    </div>
                    <div class="col-12 lg:col-8">
                        <input type="text" pInputText placeholder="Dirección">
                    </div>
                    <div class="col-12 lg:col-4">
                        <input type="number" pInputText placeholder="Cod. Postal">
                    </div>
                    <div class="col-12 lg:col-7">
                        <input type="text" pInputText placeholder="Email">
                    </div>
                    <div class="col-12 lg:col-5">
                        <input type="number" pInputText placeholder="N° Telefono">
                    </div>
                </div>
                <!-- --------------------------------------------------------- -->
                <!-- GRID CON LOS DROPDOWN DEL METODO DE PAGO -->
                <h5>Metodo de Pago</h5>
                <div class="grid p-fluid">
                    <div class="col-12 md:col-8">
                        <p-dropdown [options]="pagos" [(ngModel)]="selectedPago" placeholder="Selecione una opción"
                            optionLabel="opcion" [showClear]="true"></p-dropdown>
                    </div>

                    <div class="col-12 md:col-4">
                        <p-dropdown [options]="cuotas" [(ngModel)]="selectedCuota" placeholder="Cuotas"
                            optionLabel="opcion" [showClear]="true"></p-dropdown>
                    </div>
                </div>
                <!-- --------------------------------------------------------- -->
            </div>

            <div class="flex flex-column lg:flex-column mb-5" id="checkoutCard2">
                <h2>Precio Total:</h2>
                <div class="flex flex-wrap lg:flex-wrap justify-content-between pt-3">
                    <span>Comisión vendedor:</span>
                    <span>$240</span>
                </div>
                <div class="flex flex-wrap lg:flex-wrap justify-content-between py-3">
                    <span>IVA: </span>
                    <span>21%</span>
                </div>
                <div class="flex flex-wrap lg:flex-wrap justify-content-between pb-3">
                    <span>Productos:</span>
                    <span>{{precioTotal | currency:'AR$ '}}</span>
                </div>
                <hr style="width: 100%;">
                <div class="flex flex-wrap lg:flex-wrap justify-content-between py-3 ">
                    <span style="font-size: 16px; color: #000">Total:</span>
                    <span style="font-size: 16px; color: #000">{{precioTotal + 240 + precioTotal*(21/100)  | currency:'AR$ '}}</span>
                </div>
                &nbsp;
                <button pButton type="button" icon="pi pi-shopping-bag" label="Comprar" class="p-button-raised"></button>
                <br>
                <button pButton pRipple type="button" icon="pi pi-replay" label="Seguir Comprando" class="p-button-secondary p-button-text"></button>
            </div>

        </div>
    </div>
</div>

<p-toast position="bottom-center"></p-toast>