<p-messages severity="custom" [style]="{'background-color': '#ffffff', 'border-radius' : '4px', 'box-shadow' : '0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.16)'}">
    <ng-template pTemplate>
        <div class="ml-6" style="height: 1.2em; font-size: 1.4em; color: #009EFF; font-weight: bolder;">Gift Cards</div>
    </ng-template>
</p-messages>
<br>
<p-table [value]="giftCard" responsiveLayout="scroll" [lazy]="true" [loading]="loading">
    <ng-template pTemplate="caption" *ngIf="logged == true">
        <div class="flex card-container">
            <div class="flex-grow-1 flex align-items-center justify-content-start font-bold text-gray-900 p-1 border-round">
                <p>Editar Productos</p>
            </div>
            <div class="flex-shrink-1 lg:flex-shrink-0 flex align-items-center justify-content-center font-bold text-gray-900 border-round"></div>
            <div class="flex-grow-1 flex align-items-center justify-content-end font-bold text-gray-900 p-1 border-round">
                <p-button icon="pi pi-plus" pTooltip="Agregar Juego" tooltipPosition="bottom" (click)="showMaximizableDialog()"></p-button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Precio</th>
            <th>Plataforma</th>
            <th>Status</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-giftCard>
        <tr>
            <td>{{giftCard.nombre}}</td>
            <td><img src="{{giftCard.url}}" [alt]="giftCard.name" width="100" class="shadow-4" /></td>
            <td>{{giftCard.precio | currency:'ARS $'}}</td>
            <td>{{giftCard.plataforma}}</td>
            <td><span>{{giftCard.status}}</span></td>
            <td *ngIf="logged == true; else user">
                <button pButton pRipple type="button" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="bottom"
                    class=" p-button-secondary p-button-text" (click)="updateGiftCard(giftCard)"></button>
                <button pButton pRipple type="button" icon="pi pi-times" pTooltip="Eliminar" tooltipPosition="bottom"
                    class=" p-button-danger p-button-text" (click)="deleteGiftcard(giftCard.id, giftCard.nombre)"></button>
            </td>
            <ng-template #user>
                <td>
                    <button pButton pRipple type="button" icon="pi pi-shopping-cart" pTooltip="Agregar al Carrito" tooltipPosition="bottom"
                    class="p-button-outlined"></button>
                    <br>
                    <button pButton pRipple type="button" icon="pi pi-shopping-bag" pTooltip="Comprar" tooltipPosition="bottom"
                    class=" p-button-secondary p-button-text"></button>
                </td>
            </ng-template>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            En total hay {{giftCard ? giftCard.length - 1 : 0 }} gift cards.
        </div>
    </ng-template>
</p-table>
<br>
<div class="bg-bluegray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap"
    style="position: sticky; bottom: 0;">
    <div class="font-bold mr-8 text-white"
        style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">🔥 Ultimas Ofertas!</div>
    <div class="align-items-center hidden lg:flex">
        <span class="line-height-3 text-white"
            style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Compra los mejores
            productos con hasta un -60% descuento.</span>
    </div>
    <a class="flex align-items-center ml-2 mr-8">
        <a class="text-white" routerLink="/ofertas"><span class="underline font-bold"
                style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Learn More</span></a>
    </a>
    <a pRipple
        class="flex align-items-center no-underline justify-content-center border-circle text-gray-50  text-white hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150"
        style="width:2rem; height: 2rem;">
        <i class="pi pi-times"></i>
    </a>
</div>

<p-dialog header="{{header}}" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '50vw'}"
    [maximizable]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content">
        <form [formGroup]="formProducto">
            <div class="formgrid grid justify-content-center">
                <div class="md:col-8">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="text" pInputText placeholder="Nombre" formControlName="nombre">
                    </div>
                </div>
                <div class="md:col-3">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-dollar"></i></span>
                        <p-inputNumber inputId="minmaxfraction" mode="decimal" [minFractionDigits]="2"
                            [maxFractionDigits]="2" placeholder="Precio" formControlName="precio"></p-inputNumber>
                    </div>
                </div>
                <div class="col-16 md:col-11">
                    <span class="p-inputgroup-addon"><i class="pi pi-upload" style="padding-right: 10px;"></i>Subir Imagen</span>
                    <p-fileUpload accept="image/*" chooseLabel="Seleccionar Archivo"
                        [showUploadButton]="false" [showCancelButton]="false" [customUpload]="true" ngDefaultControl formControlName="url" (onSelect)="obtenerFile($event)">
                        <ng-template *ngIf="edit == true" pTemplate="content">
                            <div class="p-inputgroup" *ngIf="file == undefined">
                                <span class="p-inputgroup-addon"><i class="pi pi-file"></i></span>
                                <input type="text" pInputText formControlName="urlname" readonly>
                                <span class="p-inputgroup-addon"><i class="pi pi-globe"></i></span>
                                <input type="text" pInputText formControlName="url" readonly>
                            </div>
                        </ng-template>
                    </p-fileUpload>
                </div>
                <div class="col-16 md:col-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-box"></i></span>
                        <input type="text" pInputText placeholder="Plataforma" formControlName="plataforma">
                    </div>
                </div>
                <div class="col-16 md:col-5">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-check-square"></i></span>
                        <input type="text" pInputText placeholder="Status" formControlName="status">
                    </div>
                </div>
                <div class="col-16 md:col-11">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-comment"></i></span>
                        <textarea placeholder="Descripción" [rows]="5" [cols]="30" pInputTextarea
                            [autoResize]="autoResize" formControlName="descripcion"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" label="Cerrar" (click)="dialogCancel()" styleClass="p-button-danger p-button-text">
        </p-button>
        <p-button icon="pi pi-check" label="Guardar" (click)="guardarGiftCard()" styleClass="p-button-secondary">
        </p-button>
    </ng-template>
</p-dialog>

<p-toast position="bottom-center"></p-toast>